body {
  background-color: #2B3040;
}

.main {
  margin-top: 82px;
}
.main__container {
  max-width: 1000px;
  padding: 154px 200px;
  margin: 0 auto;
  background: url("../img/bg-image.jpg") 0 0 no-repeat;
}

.game__container {
  display: flex;
  flex-direction: column;
}
.game__header {
  padding: 30px 40px;
  background-color: #2B3040;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.game__header-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.game__item-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.game__body {
  background-color: #212534;
  padding: 60px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.game__body-left {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.game__stars {
  display: flex;
  align-items: center;
  gap: 10px;
}
.game__body-right {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.game__score {
  position: absolute;
  top: 0;
  right: 0;
}
.game__heading {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  color: #FFFFFF;
}
.game__heading + .game__date {
  margin: 15px 0 40px;
}
.game__date {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}
.game__about {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #B7BACD;
  max-width: 280px;
}
.game__to-buy {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.game__price-block {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.game__discount {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #FFDD3F;
}
.game__price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  color: #FFFFFF;
}
.game__buy-button {
  background: #13E28D;
  border-radius: 2px;
  padding: 20px 30px;
  text-transform: uppercase;
  color: #FFFFFF;
}