.body {
  padding: 30px 0;
}
.body__wrapper {
  max-width: 1280px;
  display: flex;
}

.content__header + .content__main {
  margin-top: 68px;
}
.content__main {
  max-width: 1170px;
}
.content__image {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.aside__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 30px;
}
.aside__heading {
  position: relative;
  display: flex;
  align-items: center;
  gap: 7px;
  width: 220px;
  padding: 0 15px;
}
.aside__heading::after {
  position: absolute;
  right: 15px;
  content: url("data:image/svg+xml;charset=UTF-8,<svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M8.95833 10L11.3562 7.38958C11.5604 7.18333 11.5604 6.84896 11.3562 6.64167C11.1521 6.43646 10.8198 6.43646 10.6167 6.64167L7.69271 9.625C7.48854 9.83229 7.48854 10.1667 7.69271 10.3719L10.6167 13.3552C10.8198 13.5625 11.1521 13.5615 11.3562 13.3552C11.5604 13.15 11.5604 12.8156 11.3562 12.6083L8.95833 10ZM10 0C4.47708 0 0 4.47708 0 10C0 15.524 4.47708 20 10 20C15.5229 20 20 15.524 20 10C20 4.47708 15.5229 0 10 0ZM10 18.7021C5.19479 18.7021 1.29792 14.8062 1.29792 10C1.29792 5.19375 5.19479 1.29792 10 1.29792C14.8073 1.29792 18.7021 5.19375 18.7021 10C18.7021 14.8062 14.8073 18.7021 10 18.7021Z' fill='%23392C72'/></svg>");
}
.aside__line {
  display: none;
}
.aside__input {
  display: none;
}
.aside__input:checked + .aside__heading {
  width: 86px;
}
.aside__input:checked + .aside__heading .aside__logo-title {
  display: none;
}
.aside__input:checked + .aside__heading {
  justify-content: center;
}
.aside__input:checked + .aside__heading::after {
  right: 0px;
  rotate: 180deg;
}
.aside__input:checked ~ .aside__categories .aside__text {
  display: none;
}
.aside__input:checked ~ .aside__categories .aside__element-description {
  display: none;
}
.aside__input:checked ~ .aside__categories .aside__line {
  display: flex;
}
.aside__input:checked ~ .aside__categories .aside__apps-title {
  display: none;
}
.aside__input:checked ~ .aside__categories .aside__element-wrapper {
  justify-content: center;
}
.aside__logo-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #392C72;
}
.aside__categories {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.aside__element-wrapper {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  gap: 20px;
  transition: all 0.3s ease;
}
.aside__element-wrapper:hover {
  background: #9E8CFC;
  box-shadow: 0px 0px 20px rgba(158, 140, 252, 0.7);
}
.aside__element-wrapper--title {
  padding: 0px 15px 5px;
}
.aside__element-wrapper--title:hover {
  background: none;
  box-shadow: none;
}
.aside__apps-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #828282;
}
.aside__element-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #4F4F4F;
}

.header {
  padding: 10px 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  max-width: 1170px;
  margin: 0 auto;
  border-radius: 10px;
}
.header__container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__icons-item {
  display: flex;
  align-items: center;
}
.header__icons-item:hover .header__svg {
  fill: #9E8CFC;
}
.header__settings {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__lang {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__lang-text {
  color: #4F4F4F;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}