.footer {
    position: relative;
    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__container {
        max-width: 770px;
        margin: 0 auto;
        position: relative;
        padding: 203px 0 234px 0;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: 41px;
    }

    &__logo {
    }

    &__copyright {
        @include font-copyright;
    }

    &__socials {
        display: flex;
        gap: 20px;
    }

    

    &__block-form {
        top: -301px;
        left: 0;
        right: 0;
        background-color: $white;
        position: absolute;
        z-index: 9999;
        padding: 90px 60px 68px 60px;
    }

    &__title {
        @include font-h2;
        display: flex;
        justify-content: center;
        position: relative;
        &::before {
            position: absolute;
            top: -30px;
            left: auto;
            right: auto;
            content:'';
            width: 100px;
            height: 0px;
            border: 0.5px solid;
        }

    }

    &__title + &__form-flex {
        margin-top: 42px;
    }

    &__form-flex {
        display: flex;
        gap: 60px;
    }

    &__form-left {
        
    }

    &__fa-icon {
        color: $purple;
        font-size: 18px;
        line-height: 29px;
    }
    &__form-info-element + &__form-info-element {
        margin-top: 35px;
    }

    &__form-info {
        margin-left: 5px;
    }

    &__form-form {
        display: flex;
        flex-direction: column;
        gap: 31px;
    }

    &__form-name {
        @include font-form;
        padding-bottom: 14px;
        border-bottom: 1px solid #000;
    }

    &__form-email {
        @include font-form;
        padding-bottom: 14px;
        border-bottom: 1px solid #000;
    }

    &__form-button {
        align-self: flex-end;
        padding: 11px 34px;
        color: $black;
        background-color: $white;
        border: 1px solid $dark;
    }
}

