

@mixin font ($font-family, $font-weight:400, $font-size:14px, $line-heigth:20px, $color:$white) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-heigth;
    color: $color;
}

@mixin font-nav {
    @include font ('Source Sans Pro', 400, 14px, 18px, $white);
    text-transform: uppercase;
}

@mixin font-header-title {
    @include font ('Montserrat', 700, 80px, 98px, $white);
    letter-spacing: 0.1em;
}

@mixin font-header-subtitle {
    @include font ('Montserrat', 400, 18px, 22px, $white);
    letter-spacing: 0.3em;
}

@mixin font-h2 {
    @include font ('Montserrat', 700, 44px, 54px, $dark);
}

@mixin font-h2-white {
    @include font ('Montserrat', 700, 44px, 54px, $white);
}

@mixin font-h3 {
    @include font ('Montserrat', 400, 22px, 27px, $dark);
}

@mixin font-h3-bold {
    @include font ('Montserrat', 700, 22px, 27px, $dark);
}

@mixin font-p-what-we-do {
    @include font ('Open Sans', 400, 18px, 30px, $dark);
}

@mixin font-p-news {
    @include font ('Open Sans', 400, 18px, 25px, $dark);
}

@mixin font-h4 {
    @include font ('Montserrat', 400, 17px, 22px, $dark);
}

@mixin font-date {
    @include font ('Montserrat', 400, 14px, 17px, $blue);
}

@mixin font-button {
    @include font ('Montserrat', 400, 14px, 17px, $black);
}

@mixin font-location {
    @include font ('Open Sans', 400, 15px, 20px, $black);
    font-style: italic;
}

@mixin font-copyright {
    @include font ('Montserrat', 400, 14px, 17px, $white);
}

@mixin font-form {
    @include font ('Montserrat', 400, 18px, 27px, $black);
}

@mixin container {
    margin: 0 auto;
    max-width: 1160px;
}







@mixin mobile-size {
    @media (max-width: ($tablet - 1px)) {
        @content;
    }
}

@mixin tablet-size {
    @media (max-width: ($tablet-big - 1px)) {
        @content;
    }
}

@mixin desktop-size {
    @media (max-width: $desktop) {
        @content;
    }
}

@mixin size ($size) {
    @media (max-width: $size) {
        @content;
    }
}

@mixin min-size ($size) {
    @media (min-width: $size) {
        @content;
    }
}