@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital@0;1&family=Source+Sans+Pro&display=swap");
.header {
  position: relative;
}
.header__background {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__background-image {
  width: 100%;
  height: 100%;
}
.header__content {
  padding: 53px 0 50px 0;
  height: 100vh;
}
.header__container {
  position: relative;
  margin: 0 auto;
  max-width: 1160px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__socials {
  display: flex;
  gap: 20px;
}
.header__slider-container {
  min-width: 0;
}
.header__slider {
  height: 70vh;
}
.header__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__pagination {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.header__pagination .swiper-pagination-bullet {
  transition: all 0.7s ease;
  opacity: 1;
  background-color: inherit;
  border: 1px solid #FFFFFF;
  width: 10px;
  height: 10px;
}
.header__pagination .swiper-pagination-bullet-active {
  background-color: #FFFFFF;
}
.header__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  text-align: center;
}
.header__subtitle {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  letter-spacing: 0.3em;
  text-align: center;
}
.header__title + .header__subtitle {
  margin-top: 20px;
}
.header__arrow {
  align-self: center;
  width: 42px;
  height: 40px;
}
.header__arrow:hover {
  opacity: 0.5;
  cursor: pointer;
}
.header__arrow-svg {
  width: 100%;
  height: 100%;
}

.button {
  display: inline-flex;
  padding: 16px 41px;
  border: 1px solid #2C4058;
  justify-content: center;
  align-items: center;
  align-self: center;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: #7E5AFF;
  color: #FFFFFF;
  border-color: #FFFFFF;
  box-shadow: 0px 0px 21px 20px rgb(94, 62, 212);
}
.button:active {
  background-color: rgb(90, 41, 90);
  box-shadow: 0px 0px 21px 20px rgb(56, 12, 56);
}

.socials__item {
  width: 40px;
  height: 40px;
}
.socials__item:hover {
  cursor: pointer;
  opacity: 0.5;
}
.socials__item:active {
  opacity: 1;
}
.socials__svg {
  width: 100%;
  height: 100%;
  fill: #FFFFFF;
  stroke: #FFFFFF;
}

.nav__list {
  display: flex;
  gap: 93px;
  align-items: center;
}
.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.nav__link:before {
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  left: -14px;
  position: absolute;
  display: inline-block;
  content: "";
  width: 9px;
  height: 9px;
}
.nav__link:hover.nav__link::before {
  background-color: #FFFFFF;
}

.what {
  padding: 130px 0 150px 0;
  overflow: hidden;
}
.what__container {
  margin: 0 auto;
  max-width: 1160px;
}
.what__wrapper {
  display: flex;
  flex-direction: column;
}
.what__title {
  display: flex;
  justify-content: center;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
  position: relative;
}
.what__title::before {
  position: absolute;
  top: -30px;
  left: auto;
  right: auto;
  content: "";
  width: 100px;
  height: 0px;
  border: 0.5px solid;
}
.what__title + .what__block {
  margin: 90px 0 120px 0;
}
.what__block {
  display: flex;
  gap: 50px;
  align-items: center;
}
.what__block--reverse {
  flex-direction: row-reverse;
}
.what__block-image {
  position: relative;
  width: 50%;
}
.what__block-image::before {
  bottom: 57px;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
}
.what__block-image--left::before {
  right: 260px;
  background-color: #55B7FF;
}
.what__block-image--right::before {
  right: -260px;
  background-color: #7E5AFF;
}
.what__block-image img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.what__block-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.what__block-subtitle {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
}
.what__block-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
}
.what__block-title + .what__block-description {
  margin: 19px 0 40px 0;
}
.what__block-description {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #2C4058;
}
.what__block-description + .what__block-button {
  margin-bottom: 60px;
}
.what__block-button {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.what__block-location {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  font-style: italic;
}
.what__block-location-text {
  margin-left: 10px;
}

.latest {
  position: relative;
}
.latest__background {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}
.latest__background-image {
  -o-object-fit: contain;
     object-fit: contain;
}
.latest__content {
  position: relative;
}
.latest__container {
  margin: 0 auto;
  max-width: 1160px;
  position: relative;
  padding: 120px 0 170px 0;
}
.latest__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  position: relative;
}
.latest__title::before {
  position: absolute;
  top: -30px;
  left: auto;
  right: auto;
  content: "";
  width: 100px;
  height: 0px;
  border: 0.5px solid;
}
.latest__title + .latest__slider {
  margin-top: 90px;
}
.latest__slider {
  height: 514px;
}
.latest__slider-slide {
  display: flex;
  flex-direction: column;
}
.latest__slide-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.latest__slide-text {
  padding: 30px 20px;
  background-color: #FFFFFF;
}
.latest__slide-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
}
.latest__slide-title + .latest__slide-description {
  margin: 15px 0 39px 0;
}
.latest__slide-description {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #2C4058;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
}
.latest__slide-author {
  display: flex;
  align-items: center;
  gap: 20px;
}
.latest__slide-author-text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.latest__slide-author-name {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #2C4058;
}
.latest__slide-author-date {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #55B7FF;
}
.latest__slider-pagination.swiper-pagination-bullets {
  bottom: 120px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.latest__slider-pagination .swiper-pagination-bullet {
  transition: all 0.7s ease;
  opacity: 1;
  background-color: inherit;
  border: 1px solid #FFFFFF;
  width: 10px;
  height: 10px;
}
.latest__slider-pagination .swiper-pagination-bullet-active {
  background-color: #FFFFFF;
}
.latest__slider-button {
  width: 40px;
  height: 40px;
  border: 1px solid #FFFFFF;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  font-size: 14px;
  color: white;
  top: 50%;
  z-index: 999;
}
.latest__slider-button:hover {
  cursor: pointer;
}
.latest__slider-button--prev {
  left: -50px;
}
.latest__slider-button--next {
  right: -50px;
}

.gallery {
  padding: 180px 0 150px 0;
}
.gallery__container {
  margin: 0 auto;
  max-width: 1160px;
}
.gallery__wrapper {
  display: flex;
  flex-direction: column;
}
.gallery__title {
  display: flex;
  justify-content: center;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
  position: relative;
}
.gallery__title::before {
  position: absolute;
  top: -30px;
  left: auto;
  right: auto;
  content: "";
  width: 100px;
  height: 0px;
  border: 0.5px solid;
}
.gallery__title + .gallery__gallery {
  margin: 90px 0 60px 0;
}
.gallery__gallery {
  display: grid;
  grid: 1fr 1fr/50% 25% 25%;
  gap: 10px;
}
.gallery__gallery-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__gallery-item--1 {
  grid-row: 1/3;
}
.gallery__gallery-item--2 {
  grid-column: 2/3;
}
.gallery__gallery-item--3 {
  grid-column: 3/4;
}
.gallery__gallery-item--4 {
  grid-row: 2/3;
}
.gallery__gallery-item:hover {
  cursor: url(../images/gallery/bi_zoom-in.png), auto;
}
.gallery__button {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  display: flex;
  justify-content: center;
}

#map {
  height: 100%;
}

.map {
  position: relative;
  height: 700px;
}

.footer {
  position: relative;
}
.footer__background {
  position: absolute;
  width: 100%;
  height: 100%;
}
.footer__container {
  max-width: 770px;
  margin: 0 auto;
  position: relative;
  padding: 203px 0 234px 0;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__left {
  display: flex;
  flex-direction: column;
  gap: 41px;
}
.footer__copyright {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.footer__socials {
  display: flex;
  gap: 20px;
}
.footer__block-form {
  top: -301px;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  position: absolute;
  z-index: 9999;
  padding: 90px 60px 68px 60px;
}
.footer__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
  display: flex;
  justify-content: center;
  position: relative;
}
.footer__title::before {
  position: absolute;
  top: -30px;
  left: auto;
  right: auto;
  content: "";
  width: 100px;
  height: 0px;
  border: 0.5px solid;
}
.footer__title + .footer__form-flex {
  margin-top: 42px;
}
.footer__form-flex {
  display: flex;
  gap: 60px;
}
.footer__fa-icon {
  color: #7E5AFF;
  font-size: 18px;
  line-height: 29px;
}
.footer__form-info-element + .footer__form-info-element {
  margin-top: 35px;
}
.footer__form-info {
  margin-left: 5px;
}
.footer__form-form {
  display: flex;
  flex-direction: column;
  gap: 31px;
}
.footer__form-name {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  padding-bottom: 14px;
  border-bottom: 1px solid #000;
}
.footer__form-email {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  padding-bottom: 14px;
  border-bottom: 1px solid #000;
}
.footer__form-button {
  align-self: flex-end;
  padding: 11px 34px;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #2C4058;
}