@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital@0;1&family=Source+Sans+Pro&display=swap");
body.locked {
  overflow: hidden;
}

.header {
  position: relative;
}
.header__background {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__background-image {
  width: 100%;
  height: 100%;
}
.header__content {
  padding: 53px 0 50px 0;
  height: 100vh;
}
.header__container {
  position: relative;
  margin: 0 auto;
  max-width: 1400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1500px) {
  .header__container {
    max-width: 1170px;
  }
}
@media (max-width: 1280px) {
  .header__container {
    max-width: 950px;
  }
}
@media (max-width: 1024px) {
  .header__container {
    max-width: 900px;
  }
}
@media (max-width: 950px) {
  .header__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .header__nav {
    display: none;
  }
}
.header__socials {
  display: flex;
  gap: 20px;
}
@media (max-width: 1024px) {
  .header__socials {
    display: none;
  }
}
.header__slider-container {
  min-width: 0;
}
.header__slider {
  height: 70vh;
}
.header__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__pagination {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.header__pagination .swiper-pagination-bullet {
  transition: all 0.7s ease;
  opacity: 1;
  background-color: inherit;
  border: 1px solid #FFFFFF;
  width: 10px;
  height: 10px;
}
.header__pagination .swiper-pagination-bullet-active {
  background-color: #FFFFFF;
}
.header__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  text-align: center;
}
@media (max-width: 1024px) {
  .header__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    color: #FFFFFF;
  }
}
@media (max-width: 768px) {
  .header__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
  }
}
.header__subtitle {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  letter-spacing: 0.3em;
  text-align: center;
}
.header__title + .header__subtitle {
  margin-top: 20px;
}
.header__arrow {
  align-self: center;
  width: 42px;
  height: 40px;
}
.header__arrow:hover {
  opacity: 0.5;
  cursor: pointer;
}
.header__arrow-svg {
  width: 100%;
  height: 100%;
}

.burger {
  display: none;
  cursor: pointer;
  height: 100%;
  width: 70px;
  padding: 10px 10px;
}
@media (max-width: 1024px) {
  .burger {
    display: block;
    z-index: 10;
  }
}
.burger__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.burger__line {
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
  transition: all 0.3s ease;
}
.burger.active .burger__line:nth-child(2) {
  transition: all 0.3s ease;
  opacity: 0;
}
.burger.active .burger__line:nth-child(1) {
  transition: all 0.3s ease;
  transform: translateY(15px) rotate(45deg);
}
.burger.active .burger__line:nth-child(3) {
  transition: all 0.3s ease;
  transform: translateY(-15px) rotate(-45deg);
}

.button {
  display: inline-flex;
  padding: 16px 41px;
  border: 1px solid #2C4058;
  justify-content: center;
  align-items: center;
  align-self: center;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: #7E5AFF;
  color: #FFFFFF;
  border-color: #FFFFFF;
  box-shadow: 0px 0px 21px 20px rgb(94, 62, 212);
}
.button:active {
  background-color: rgb(90, 41, 90);
  box-shadow: 0px 0px 21px 20px rgb(56, 12, 56);
}

.socials__item {
  width: 40px;
  height: 40px;
}
.socials__item:hover {
  cursor: pointer;
  opacity: 0.5;
}
.socials__item:active {
  opacity: 1;
}
.socials__svg {
  width: 100%;
  height: 100%;
  fill: #FFFFFF;
  stroke: #FFFFFF;
}

@media (max-width: 1024px) {
  .nav {
    transition: all 0.3s ease;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #7E5AFF;
    z-index: 9;
  }
  .nav.active {
    left: 0;
  }
}
.nav__list {
  display: flex;
  gap: 93px;
  align-items: center;
}
@media (max-width: 1280px) {
  .nav__list {
    gap: 60px;
  }
}
@media (max-width: 1024px) {
  .nav__list {
    height: 100%;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    align-items: flex-start;
  }
}
@media (max-width: 1024px) {
  .nav__item {
    margin-left: 50px;
  }
}
.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .nav__link {
    font-size: 60px;
  }
}
.nav__link:before {
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  left: -30px;
  position: absolute;
  display: inline-block;
  content: "";
  width: 9px;
  height: 9px;
}
@media (max-width: 1024px) {
  .nav__link:before {
    width: 20px;
    height: 20px;
  }
}
.nav__link:hover.nav__link::before {
  background-color: #FFFFFF;
}

.what {
  padding: 130px 0 150px 0;
  overflow: hidden;
}
.what__container {
  margin: 0 auto;
  max-width: 1400px;
}
@media (max-width: 1500px) {
  .what__container {
    max-width: 1170px;
  }
}
@media (max-width: 1280px) {
  .what__container {
    max-width: 950px;
  }
}
@media (max-width: 1024px) {
  .what__container {
    max-width: 900px;
  }
}
@media (max-width: 950px) {
  .what__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.what__wrapper {
  display: flex;
  flex-direction: column;
}
.what__title {
  display: flex;
  justify-content: center;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
  position: relative;
}
@media (max-width: 1024px) {
  .what__title {
    font-size: 38px;
    line-height: 46px;
  }
}
@media (max-width: 768px) {
  .what__title {
    font-size: 30px;
    line-height: 36px;
  }
}
.what__title::before {
  position: absolute;
  top: -30px;
  left: auto;
  right: auto;
  content: "";
  width: 100px;
  height: 0px;
  border: 0.5px solid;
}
.what__title + .what__block {
  margin: 90px 0 120px 0;
}
.what__block {
  display: flex;
  gap: 50px;
  align-items: center;
}
.what__block--reverse {
  flex-direction: row-reverse;
}
@media (max-width: 768px) {
  .what__block {
    flex-direction: column;
    gap: 20px;
  }
}
.what__block-image {
  position: relative;
  width: 50%;
}
@media (max-width: 768px) {
  .what__block-image {
    width: 100%;
  }
}
.what__block-image::before {
  bottom: 57px;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
}
.what__block-image--left::before {
  right: 260px;
  background-color: #55B7FF;
}
.what__block-image--right::before {
  right: -260px;
  background-color: #7E5AFF;
}
.what__block-image img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.what__block-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .what__block-text {
    width: 100%;
  }
}
.what__block-subtitle {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
}
@media (max-width: 1024px) {
  .what__block-subtitle {
    font-size: 19px;
    line-height: 23px;
  }
}
@media (max-width: 768px) {
  .what__block-subtitle {
    font-size: 17px;
    line-height: 23px;
  }
}
.what__block-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
}
@media (max-width: 1024px) {
  .what__block-title {
    font-size: 38px;
    line-height: 46px;
  }
}
@media (max-width: 768px) {
  .what__block-title {
    font-size: 30px;
    line-height: 36px;
  }
}
.what__block-title + .what__block-description {
  margin: 19px 0 40px 0;
}
@media (max-width: 768px) {
  .what__block-title + .what__block-description {
    margin: 10px 0 15px 0;
  }
}
.what__block-description {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #2C4058;
}
@media (max-width: 768px) {
  .what__block-description {
    font-size: 15px;
  }
}
.what__block-description + .what__block-button {
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .what__block-description + .what__block-button {
    margin-bottom: 10px;
  }
}
.what__block-button {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.what__block-location {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  font-style: italic;
}
@media (max-width: 768px) {
  .what__block-location {
    font-size: 14px;
  }
}
.what__block-location-text {
  margin-left: 10px;
}

.latest {
  position: relative;
}
.latest__background {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}
.latest__background-image {
  -o-object-fit: contain;
     object-fit: contain;
}
.latest__content {
  position: relative;
}
.latest__container {
  margin: 0 auto;
  max-width: 1400px;
  position: relative;
  padding: 120px 0 170px 0;
}
@media (max-width: 1500px) {
  .latest__container {
    max-width: 1170px;
  }
}
@media (max-width: 1280px) {
  .latest__container {
    max-width: 950px;
  }
}
@media (max-width: 1024px) {
  .latest__container {
    max-width: 900px;
  }
}
@media (max-width: 950px) {
  .latest__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.latest__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  position: relative;
}
@media (max-width: 1024px) {
  .latest__title {
    font-size: 38px;
    line-height: 46px;
  }
}
@media (max-width: 768px) {
  .latest__title {
    font-size: 30px;
    line-height: 36px;
  }
}
.latest__title::before {
  position: absolute;
  top: -30px;
  left: auto;
  right: auto;
  content: "";
  width: 100px;
  height: 0px;
  border: 0.5px solid;
}
.latest__title + .latest__slider {
  margin-top: 90px;
}
.latest__slider-slide {
  display: flex;
  flex-direction: column;
  height: auto;
}
.latest__slide-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.latest__slide-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  padding: 30px 20px;
  background-color: #FFFFFF;
}
.latest__slide-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
}
.latest__slide-title + .latest__slide-description {
  margin: 15px 0 39px 0;
}
.latest__slide-description {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #2C4058;
}
.latest__slide-author {
  display: flex;
  align-items: center;
  gap: 20px;
}
.latest__slide-author-text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.latest__slide-author-name {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #2C4058;
}
.latest__slide-author-date {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #55B7FF;
}
.latest__slider-pagination.swiper-pagination-bullets {
  bottom: 120px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.latest__slider-pagination .swiper-pagination-bullet {
  transition: all 0.7s ease;
  opacity: 1;
  background-color: inherit;
  border: 1px solid #FFFFFF;
  width: 10px;
  height: 10px;
}
.latest__slider-pagination .swiper-pagination-bullet-active {
  background-color: #FFFFFF;
}
.latest__slider-button {
  width: 40px;
  height: 40px;
  border: 1px solid #FFFFFF;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  font-size: 14px;
  color: white;
  top: 50%;
  z-index: 999;
}
@media (max-width: 1024px) {
  .latest__slider-button {
    display: none;
  }
}
.latest__slider-button:hover {
  cursor: pointer;
}
.latest__slider-button--prev {
  left: -50px;
}
.latest__slider-button--next {
  right: -50px;
}

.gallery {
  padding: 180px 0 150px 0;
}
.gallery__container {
  margin: 0 auto;
  max-width: 1400px;
}
@media (max-width: 1500px) {
  .gallery__container {
    max-width: 1170px;
  }
}
@media (max-width: 1280px) {
  .gallery__container {
    max-width: 950px;
  }
}
@media (max-width: 1024px) {
  .gallery__container {
    max-width: 900px;
  }
}
@media (max-width: 950px) {
  .gallery__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.gallery__wrapper {
  display: flex;
  flex-direction: column;
}
.gallery__title {
  display: flex;
  justify-content: center;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
  position: relative;
}
@media (max-width: 1024px) {
  .gallery__title {
    font-size: 38px;
    line-height: 46px;
  }
}
@media (max-width: 768px) {
  .gallery__title {
    font-size: 30px;
    line-height: 36px;
  }
}
.gallery__title::before {
  position: absolute;
  top: -30px;
  left: auto;
  right: auto;
  content: "";
  width: 100px;
  height: 0px;
  border: 0.5px solid;
}
.gallery__title + .gallery__gallery {
  margin: 90px 0 60px 0;
}
.gallery__gallery {
  display: grid;
  grid: 1fr 1fr/49% 24% 24%;
  gap: 10px;
}
@media (max-width: 768px) {
  .gallery__gallery {
    grid: 250px 220px 220px/49% 49%;
  }
}
.gallery__gallery-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__gallery-item--1 {
  grid-row: 1/3;
}
@media (max-width: 768px) {
  .gallery__gallery-item--1 {
    grid-row: 1/2;
    grid-column: 1/3;
  }
}
@media (max-width: 768px) {
  .gallery__gallery-item--2 {
    grid-row: 2/3;
  }
}
@media (max-width: 768px) {
  .gallery__gallery-item--3 {
    grid-row: 2/3;
  }
}
@media (max-width: 768px) {
  .gallery__gallery-item--4 {
    grid-row: 3/4;
  }
}
.gallery__gallery-item:hover {
  cursor: url(../images/gallery/bi_zoom-in.png), auto;
}
.gallery__button {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  display: flex;
  justify-content: center;
}

#map {
  height: 100%;
}

.map {
  position: relative;
  height: 700px;
}

.footer {
  position: relative;
}
.footer__background {
  position: absolute;
  width: 100%;
  height: 100%;
}
.footer__container {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 203px 0 234px 0;
}
@media (max-width: 1500px) {
  .footer__container {
    max-width: 770px;
  }
}
@media (max-width: 1014px) {
  .footer__container {
    max-width: 670px;
  }
}
@media (max-width: 768px) {
  .footer__container {
    max-width: 70%;
    padding-top: 450px;
  }
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }
}
.footer__left {
  display: flex;
  flex-direction: column;
  gap: 41px;
}
@media (max-width: 768px) {
  .footer__left {
    order: 1;
    align-items: center;
  }
}
.footer__copyright {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.footer__socials {
  display: flex;
  gap: 20px;
}
.footer__block-form {
  top: -301px;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  position: absolute;
  z-index: 9999;
  padding: 90px 60px 68px 60px;
}
.footer__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
}
@media (max-width: 1024px) {
  .footer__title {
    font-size: 38px;
    line-height: 46px;
  }
}
@media (max-width: 768px) {
  .footer__title {
    font-size: 30px;
    line-height: 36px;
  }
}
.footer__title::before {
  position: absolute;
  top: -30px;
  left: auto;
  right: auto;
  content: "";
  width: 100px;
  height: 0px;
  border: 0.5px solid;
}
.footer__title + .footer__form-flex {
  margin-top: 42px;
}
.footer__form-flex {
  display: flex;
  gap: 60px;
}
@media (max-width: 768px) {
  .footer__form-flex {
    flex-direction: column;
  }
}
.footer__fa-icon {
  color: #7E5AFF;
  font-size: 18px;
  line-height: 29px;
}
.footer__form-info-element + .footer__form-info-element {
  margin-top: 35px;
}
.footer__form-info {
  margin-left: 5px;
}
.footer__form-form {
  display: flex;
  flex-direction: column;
  gap: 31px;
}
.footer__form-name {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  padding-bottom: 14px;
  border-bottom: 1px solid #000;
}
.footer__form-email {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  padding-bottom: 14px;
  border-bottom: 1px solid #000;
}
.footer__form-button {
  align-self: flex-end;
  padding: 11px 34px;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #2C4058;
}