body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    padding: 26px;
    margin-bottom: 70px;
}
header div *{
    display: inline-block;
}
.logo{
    margin-right: 198px;
}
.nav{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
.nav *:hover{
    color: #FF9900;
}
.nav a{margin-right: 20px;
    color: #2F281E;
}
.nav a:last-child{
    margin-right: 0px;
}
.headerButton{
    margin-left: 160px;
    font-size: 16px;
    line-height: 20px;
    padding: 13px 25px;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    background: #FFFFFF;
    font-weight: 600;
}
.headerButton + .headerButton{
    background: #FF9900;
    margin-left: 32px;
}
.firstText{
    max-width: 500px;;
    display: inline-block;
    padding: 97px 0;
}
h1,h2,h3{
    color: #2F281E;
    font-weight: 700;
}
h1{
    font-size: 44px;
    line-height: 54px;  
}
h1 + p{
    margin: 30px 56px 20px 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}
.firstSectionButton{
    padding: 13px 40px;
    background: #FF9900;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}