.heading {
    
    &__top {
        display: flex;

        &__1 {
            font-family: 'Bebas Neue Thin';
            font-size: 24px;
            line-height: 28px;
            
            color: #181818;
        }
        &__2 {
            font-family: 'Bebas Neue Thin';
            font-size: 60px;
            line-height: 60px;
            /* or 100% */
            
            letter-spacing: 0.08em;
            
            color: #000000;           
        }
        &__3 {
            font-family: 'Bebas Neue';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 0.08em;
            color: #000000;
        }
    }
    
    &__bottom {
    }
}
    