.body {
    background: $page-background;
    padding: 55px 0;
}

.main {
    &__container {
        margin: 0 1.5%;
    }

    &__wrapper {
        display: flex;
        gap: 30px;
    }
}
