.button {
    padding: 15px 57px;
    color: $white;
    border: 2px solid #F8F1EA;

    &:hover {
        border: 2px solid $tomato-light;
        color: $white;
        background: $tomato-light;
    }

    &:active {
        color: $black;
        border: 2px solid $black;
    }


}