.first-slider {
    // position: relative;

    &__slide {
        position: relative;
    }
    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    
    &__container {
        position: relative;
        z-index: 1;
        @include container;
        padding: 120px 0 367px 0;
        display: flex;
        flex-direction: column;
        gap: 287px;
    }

    &__info-flex-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    
    &__heading {
        @include f-heading-1;
        max-width: 400px;
        text-align: center;
    }

    &__dots {
        display: flex;
        justify-content: center;
        gap: 30px  ;
    }

    &__swiper-pagination {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 50px;
}

.first-slider .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: $dot-inactive;
}

.first-slider .swiper-pagination-bullet-active {
    background-color: $tomato-light;
}

    