.header {

    &__container {
        @include container;
    }
    
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__logo {
    }
    
    &__nav {
        display: flex;
    }
    
    &__nav-elem {
        color:$black;
        padding: 28px 15px;
        @include f-menu-text;
        &:hover{
            background: $tomato-light;
            color:$white;
        }
    }
    
    &__right {
        display: flex;
        gap: 30px;
    }
    
    &__right-icon {
    }
    }
    