@mixin f-heading-1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    text-transform: uppercase;
    color: $brown-light;
}

@mixin f-heading-2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
}

@mixin f-menu-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

@mixin f-product-description-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

@mixin f-price-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

@mixin f-btn-status-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}

@mixin container {
    margin: 0 auto;
    max-width: 1170px;
}