$white: #FFFFFF;
$black: #000000;
$gray: #999999;
$blue: #5373FD;
$red: #FF6363;
$gray20: #333333;
$aleo: 'Aleo';
$josefin: 'Josefin Sans';
$mobile:576px;
$tablet:768px;
$tablet-big:1024px;
$desktop:1360px;
$desktop-big:1920px;
